.active{
    border:2px solid #00bcd4;
}
.fist{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.contactfi {
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    border-left: 10px solid #f5fffa;
}
article {
    flex: 2;
    overflow-y:auto;
    margin-top: 0px;
}
aside{
    flex: 1;
    overflow-y: auto;
    border-right: 10px solid #f5fffa;
    border-left: 10px solid #f5fffa;
}

input, textarea {
    width: 100%;
    margin-top: 10px;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #00bcd4;
    outline: none;
    resize: none;
}

button {
    width: 100px;
    margin-top: 10px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size:18px;
}

footer {
    border-top: 10px solid #f5fffa;
    margin-bottom: 0px;
    background-color: #f5fffa;
}
header {
    border-bottom: 10px solid #f5fffa;
    background-color: #f5fffa;
}
.lifi a:hover{
    color: #00bcd4;
}